<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Planner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header>
            <div class="">
              Travel Planner
            </div>
        </header>

        <main>
            <section>
                <form>
                    <input id="dest" type="text" name="input" value="" placeholder="Please enter destination">
                    <input id="date" type="date" name="input" value="">
                    <input id="research" type="submit" name="" value="Research">
                </form>
            <section>

            <section>
                <div id="results">
                    <span>Weather Information：</span>
                  <div id="weather"></div>
                    <span>Country Information：</span>
                  <div id="country"></div>
                  <div >
                    <img id="pic" src="">
                  </div>
                </div>
            </section>
        </main>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
