<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News NLP</title>
    </head>

    <body>

        <header>
            <div class="">
                Evaluate News NLP
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" onblur="Client.onBlur()" placeholder="Please enter URL">
                    <input type="submit" name="" value="Sentiment Analysis" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Sentiment Analysis Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>© 2020 by Evaluate News NLP.</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
